.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 25%;
  max-width: 25%;
  max-height: 60%;
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 1%;
  right: 2%;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
}

.cartIcon:hover {
  transform: rotate(-13deg);
}

.cart img {
  width: 7rem;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

.tr:nth-child(odd) {
  background-color: rgba(240, 240, 240, 0.753);
}

@media screen and (max-width: 1650px) {
  .cart {
    max-width: 30%;
    max-height: 70%;
  }
}

@media screen and (max-width: 1500px) {
  .cart {
    max-width: 35%;
    max-height: 70%;
  }
}

@media screen and (max-width: 1350px) {
  .cart {
    max-width: 40%;
    max-height: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .cart {
    max-width: 50%;
    max-height: 70%;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    max-width: 100%;
  }
}